* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    /*     padding: 10px;*/
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

main {
    margin: 20px;
}

@font-face {
    font-family: "Rafale";
    src: url("Rafale-BG.otf") format("opentype");
}

ul,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#header {
    position: fixed;
    /* Fixed position - sit on top of the page */
    top: 20px;
    width: 100px;
    /* Full width */
    transition: 0.2s;
    z-index: 999999;
}


.lang {
    font-family: 'Rafale';
    display: inline-block;
    float: right;
    right: 0px;
    margin-right: 27px;
    top: 10px;
    z-index: 999999;
    position: absolute;
    font-size: 15px;

}

.lang a {
    text-decoration: none;
    color: black;
}



.lang a:visited {
    text-decoration: none;
    color: black;
}

.lang a:hover,
.lang a:focus {
    text-decoration: none;
    color: grey;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:visited {
    text-decoration: none;
    color: #fff;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: grey;
}

.title {
    /*    width:100%;*/
    font-family: 'Rafale';
    font-size: 50px;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 35px;
    letter-spacing: -2px;
}

.who {
    margin-top: 130px;
    /*    margin-bottom: 40px;*/
}

.who img {
    max-inline-size: 100%;
    block-size: auto;
    min-width: 100%;
    pointer-events: none;
}

.column {
    float: left;
    width: 50%;
    padding-right: 2vw;
    font-family: 'Rafale';
    font-size: 18px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}




figcaption {
    font-family: 'Rafale';
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    /*    margin-bottom: 40px;*/
}

.container figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.container img {
    max-width: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.clients {
    /*    margin-bottom: 40px;*/
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-family: 'Rafale';
    font-size: 18px;
    padding-inline-start: 18px;
    list-style-type: square;
    line-height: 22px;
}

.contact {
    font-family: 'Rafale';
    font-size: 18px;
}

.contact a {
/*        text-decoration: none;*/
    color: black;
}

.contact a:hover {
/*        text-decoration: none;*/
    color: grey;
}

.contact a:visited {
/*        text-decoration: none;*/
    color: black;
}

footer {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Rafale';
/*    height: 20px;*/
    padding: 10px;
    font-size: 15px;
}

footer span {
    float: right;
}

.credits{
font-family: 'Rafale';  
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.credits a {
        text-decoration: none;
    color: black;
}



.credits a:visited {
        text-decoration: none;
    color: black;
}

.credits a:hover {
        text-decoration: none;
    color: grey;
}


@media (max-width: 800px) {
    .column {
        width: 100%;
        padding-bottom: 10px;
    }

    footer span {
        float: left;
    }

    footer {
   
    }

}


@media (max-width: 500px) {
    main {
        margin: 10px;
    }

    footer {
        margin-top: 20px;
    }

    .column {
        width: 100%;
        padding-bottom: 10px;
    }

    .container {
        display: block;

    }

    .container figure {
        margin-bottom: 20px;
    }

    ul {
        columns: 1;
    }

    .who {
        margin-top: 150px;
    }

    .title {
        font-size: 47px;
    }
}
